<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1920, maximum-scale=1.0">
  <title>Document</title>
  <!-- TP全局样式 -->
  <link rel="stylesheet" href="/assets/css/common.css">
  <!-- 专题的全局样式 -->
  <link rel="stylesheet" href="/assets/images/product/_modules/template-css/style_global.css">
  <!-- 模块样例的通用样式，空白文案标签的补充文案等  -->
  <link rel="stylesheet" href="/assets/images/product/_modules/template/style-sample.css">
</head>
<body class="overview-content">
  <!-- [Template Start] -->
  <!-- 本模块的样式 -->
  <link rel="stylesheet" href="/assets/images/product/_modules/template/omada/sdn/style-template.css">
  <!-- 本模块的定制化样例，添加背景等 -->
  <!-- <link rel="stylesheet" href="/assets/images/product/_modules/template/omada/sdn/style.css"> -->
  <!-- [DOM] -->
  <div class="section block-omada-sdn">
    <div class="w1366">
      <div class="text">
        <h2>Software Defined Networking (SDN) with Cloud Access</h2>
        <p>Omada’s Software Defined Networking (SDN) platform integrates network devices, including access points, switches and gateways, providing 100% centralized cloud management. Omada creates a highly scalable network—all controlled from a single interface. Seamless wireless and wired connections are provided, ideal for use in hospitality, education, retail, offices, and more.</p>
        <p class="link"><a href="$tpRootUrlomada-sdn/" class="learn-more" target="_blank">Learn More &gt;&gt;</a></p>
        <div class="img">
          <div class="bg-text"><div class="desc desc-1"><a href="$tpRootUrlbusiness-networking/omada-sdn-switch/">JetStream Switches</a></div><div class="desc desc-2"><a href="$tpRootUrlbusiness-networking/omada-sdn-router/">SafeStream Gateways</a></div><div class="desc desc-3"><a href="$tpRootUrlbusiness-networking/omada-sdn-access-point/">Omada Access Points</a></div><div class="desc desc-4 desc-s">Wi-Fi 6</div><div class="desc desc-5 desc-s">Celling Mount</div><div class="desc desc-6 desc-s">Wall Plate</div><div class="desc desc-7 desc-s">Outdoor</div><div class="desc desc-8 desc-b">Unified Management Interface</div><div class="desc desc-9 desc-b"><a href="$tpRootUrlbusiness-networking/omada-sdn-controller/">Controllers</a></div><div class="desc desc-10 desc-b"><a href="https://omada.tplinkcloud.com/">Cloud Access</a></div><div class="desc desc-11">Cloud</div></div>
        </div>
        <ul class="list">
          <li class="li li-1">
            <table>
              <tr>
                <td>
                  <div class="icon">&nbsp;</div>
                </td>
                <td>
                  <div class="info">Hassle-Free Cloud or <br>On-Premises Controllers</div>
                </td>
              </tr>
            </table>
          </li>
          <li class="li li-2">
            <table>
              <tr>
                <td>
                  <div class="icon">&nbsp;</div>
                </td>
                <td>
                  <div class="info">Multi-Site Cloud <br>Management</div>
                </td>
              </tr>
            </table>
          </li>
          <li class="li li-3">
            <table>
              <tr>
                <td>
                  <div class="icon">&nbsp;</div>
                </td>
                <td>
                  <div class="info">Zero-Touch <br>Provisioning (ZTP)**</div>
                </td>
              </tr>
            </table>
          </li>
          <li class="li li-4">
            <table>
              <tr>
                <td>
                  <div class="icon">&nbsp;</div>
                </td>
                <td>
                  <div class="info">Intelligent <br>Monitoring</div>
                </td>
              </tr>
            </table>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- [DOM End] -->
  <!-- [Template End] -->
</body>
</html>