globalWidth = ()
@import '../../../stylus/variables.styl';
.overview-content
  buildWidth(globalWidth)
  .section
    omada-sdn(
			imgUrl: url(./img/connection-img.png),
			iconUrl: url(./img/features-icons.png)
    )