<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1920, maximum-scale=1.0">
  <title>Document</title>
  <!-- TP全局样式 -->
  <link rel="stylesheet" href="/assets/css/common.css">
  <!-- 专题的全局样式 -->
  <link rel="stylesheet" href="/assets/images/product/_modules/template-css/style_global.css">
  <!-- 模块样例的通用样式，空白文案标签的补充文案等  -->
  <link rel="stylesheet" href="/assets/images/product/_modules/template/style-sample.css">
</head>
<body class="overview-content">
  <!-- [Template Start] -->
  <!-- 本模块的样式 -->
  <link rel="stylesheet" href="/assets/images/product/_modules/template/_widgets/app-omada/style-template.css">
  <!-- 本模块的定制化样例，添加背景等 -->
  <!-- [DOM] -->
  <div class="apps-img">
    <div class="app item"><img alt="Omada App" class="icon" src="https://static.tp-link.com/res/images/icons/tag-omada.svg" /></div>
    <div class="qrcode item"><img alt="Omada QRcode" class="icon" src="https://static.tp-link.com/res/images/qrcode/app-omada.png" /></div>
    <div class="store-group item">
      <a href="https://itunes.apple.com/app/tp-link-omada/id1327615864" target="_blank"><img alt="Apple Store" class="store" src="https://static.tp-link.com/res/images/app/ios.svg" /></a>
      <a href="https://play.google.com/store/apps/details?id=com.tplink.omada" target="_blank"><img alt="Google Store" class="store" src="https://static.tp-link.com/res/images/app/android_en.png" /></a>
    </div>
  </div>
  <!-- [DOM End] -->
  <!-- [Template End] -->
</body>
</html>