.apps-img { display: table; margin-top: 2em; line-height: 0; }
.apps-img img { max-width: none; max-height: none;}
.apps-img .item { display: table-cell; padding-right: .625em; height:
6.875em; vertical-align: top; }
.apps-img .icon { width: auto; height: 100%; }
.apps-img .store { height: 3.4375em; }
.apps-img .store-group>a { display: table-row; }
@media (max-width:736px) {
.apps-img { font-size: 1rem; }
}