/**
 * @emmet .section.block-list-icon-l-v>.w1680>.text>ul.list>li.li.li-$*3>.icon{&nbsp;}+.info>h3+p
 * @description list-icon-large-vertical多个大图标+文案(垂直上图下文, 带h3)一行内显示
 * @author tobin.xu
 * @created 2020.11.25
 */
@import '../../static'
list-icon-l-v(itemNumber = 3, iconUrl = null, iconWidth = px2empc(120), icH2W = 100%, bgHeightPer = 0, mIconWidth = px2vwmb(200))
  &.block-list-icon-l-v
    padding px2empc(150) 0
    .list
      text-align center
      .li
        setInlineOfNum(itemNumber)
        setInlineImg(itemNumber, '.icon', iconUrl, iconWidth, icH2W, bgHeightPer)
        padding 2em
        .info
          padding-top 1em
    @media (max-width mobile-width)
      &.section
        padding px2vwmb(80) 0
        .list
          .li
            width 100%
            padding px2vwmb(30) 0
            .icon
              width mIconWidth
            .info
              padding-top 2em
              h3
                padding 0 6%
              p
                padding-top .5em