<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1920, maximum-scale=1.0">
  <title>Document</title>
  <!-- TP全局样式 -->
  <link rel="stylesheet" href="/assets/css/common.css">
  <!-- 专题的全局样式 -->
  <link rel="stylesheet" href="/assets/images/product/_modules/template-css/style_global.css">
  <!-- 模块样例的通用样式，空白文案标签的补充文案等  -->
  <link rel="stylesheet" href="/assets/images/product/_modules/template/style-sample.css">
</head>
<body class="overview-content">
  <!-- [Template Start] -->
  <!-- 本模块的样式 -->
  <link rel="stylesheet" href="/assets/images/product/_modules/template/_widgets/tag-group/style-template.css">
  <!-- 本模块的定制化样例，添加背景等 -->
  <!-- [DOM] -->
  <div class="tag-group">
    <img src="/assets/images/icon/tag-alexa.png" alt="alexa" class="tag">
    <img src="/assets/images/icon/tag-hey_google.png" alt="Hey Google" class="tag">
    <img src="/assets/images/icon/tag-smart_things_blue.png" alt="Smart Things" class="tag">
  </div>
  <!-- [DOM End] -->
  <!-- [Template End] -->
</body>
</html>